// colores
$coral:#EF6461;
$azulito:#92DCE5;
$gray:#bdbcbc;


// tipografia
$montserrat:'Montserrat', sans-serif;
$opensans:'Open Sans', sans-serif;

// peso de fuente
$regular: '400';
$medium: '500';
$bold: '700';